html,
body {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

#tyrano_base {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

img {
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

/* ========================================
   セーブ・ロード画面 960×640用補正
======================================== */

.area_save_list {
    width: 900px !important;
    height: 450px !important;
    margin: 30px auto 0 !important;

    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.save_list {
    width: 850px !important;
    margin: 0 auto !important;
}

.save_list_item {
    width: 850px !important;
}

.save_list_item_thumb {
    width: 190px !important;
}

.save_list_item_area {
    width: 660px !important;
}